@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.project-card {
    background-color: black;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    margin: 16px;
    max-width: 300px;
    position: relative;

    
  }
  
  .project-title {
    text-align: center;
    margin-bottom: 8px;
  }
  
  .project-description {
    text-align: justify;
  }
  
  /* Add a pseudo-element to create the cartridge connector */
  .project-card::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 16px;
    border-radius: 0 0 8px 8px;
  }

  .project-image {
    width: 100%;
    object-fit: cover;
    height: 150px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .project-cards-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 16px;
    justify-items: center;
  }
  
  @media (min-width: 768px) {
    .project-cards-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 992px) {
    .project-cards-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  

  .MuiPaper-root.project-card {
    background-color: #191919; 
    color: gainsboro;



}



/* Override the font-family for the Typography components inside the Card */
.MuiPaper-root.project-card .MuiTypography-root {
    font-family: 'Press Start 2P', cursive;
  }

  .project-links {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 1rem;
  }
  .project-links a,
  .project-links button {
    text-decoration: none;
    color: #61dafb;
    font-size: 0.875rem;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    font-family: 'Press Start 2P', cursive;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .project-links a:hover,
  .project-links button:hover {
    text-decoration: underline;
    background: none;
  }

  .project-links a:first-child {
    margin-left: 0;
  }
  
  .project-links button:last-child {
    margin-right: 0;
  }
  
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    
    background-color: #fff;
    padding: 2rem;
    max-width: 500px;
    width: 90%;
    position: relative;
  }
  .project-info-popup-content {
    background-color: white;
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 1000;
  }
  
  .project-image-popup {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    object-fit: cover;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: gray;
    font-size: 1.5rem;
    cursor: pointer;
  }
  

  @media (max-width: 768px) {
    .project-card {
      width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .project-card {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  